<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>주소검색</title>
</head>

<script language="javascript">
    // opener관련 오류가 발생하는 경우 아래 주석을 해지하고, 사용자의 도메인정보를 입력합니다. ("주소입력화면 소스"도 동일하게 적용시켜야 합니다.)
    //document.domain = "abc.go.kr";
    function checkBrowser() {
        let filter = "win16|win32|win64|mac|macintel";

        if (navigator.platform) {
            if (filter.indexOf(navigator.platform.toLowerCase()) < 0) {
                return "MOBILE";
            } else {
                return "PC";
            }
        }
        return "MOBILE";
    }

    function init() {
        var url = location.href;
        var confmKey = (checkBrowser() === 'PC') ? "U01TX0FVVEgyMDIwMDQxMzE1MDI0NTEwOTY2NjE=" : "U01TX0FVVEgyMDIwMDQxMzE1MDUwMTEwOTY2NjI=";
        var resultType = "4"; // 도로명주소 검색결과 화면 출력내용, 1 : 도로명, 2 : 도로명+지번, 3 : 도로명+상세건물명, 4 : 도로명+지번+상세건물명
        var inputYn = "<%=inputYn%>";
        
        if (inputYn != "Y") {
            document.form.confmKey.value = confmKey;
            document.form.returnUrl.value = url;
            document.form.resultType.value = resultType;
            //document.form.action = "http://www.juso.go.kr/addrlink/addrLinkUrl.do"; //인터넷망
            //document.form.action = "http://www.juso.go.kr/addrlink/addrMobileLinkUrl.do"; // 모바일 웹,인터넷망
            document.form.action = (checkBrowser() === 'PC') ? "http://www.juso.go.kr/addrlink/addrLinkUrl.do" : "http://www.juso.go.kr/addrlink/addrMobileLinkUrl.do";
            document.form.submit();
        } else {
            opener.jusoCallBack(
                "<%=roadFullAddr%>",
                "<%=roadAddrPart1%>",
                "<%=addrDetail%>",
                "<%=roadAddrPart2%>",
                "<%=engAddr%>",
                "<%=jibunAddr%>",
                "<%=zipNo%>",
                "<%=admCd%>",
                "<%=rnMgtSn%>",
                "<%=bdMgtSn%>",
                "<%=detBdNmList%>",
                "<%=bdNm%>",
                "<%=bdKdcd%>",
                "<%=siNm%>",
                "<%=sggNm%>",
                "<%=emdNm%>",
                "<%=liNm%>",
                "<%=rn%>",
                "<%=udrtYn%>",
                "<%=buldMnnm%>",
                "<%=buldSlno%>",
                "<%=mtYn%>",
                "<%=lnbrMnnm%>",
                "<%=lnbrSlno%>",
                "<%=emdNo%>"
            );
            window.close();
        }
    }
</script>

<body onload="init();">
    <form id="form" name="form" method="post">
        <input type="hidden" id="confmKey" name="confmKey" value="" />
        <input type="hidden" id="returnUrl" name="returnUrl" value="" />
        <input type="hidden" id="resultType" name="resultType" value="" />
    </form>
</body>

</html>