<!DOCTYPE html>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141137545-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      window.dataLayer.push({
        'event': 'Pageview',
        'pagePath': '/<%=univ%>/<%=articleNo%>',
        'pageTitle': '/<%=univ%>/<%=articleNo%>',
        'univ': "<%=univ%>"
      });
    </script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TC8GC5C');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- SEO START -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="방단기 | 단기 방 임대/양도, 보증금없는 방 임대/양도">
    <meta name="keyword" content="방단기, 원룸임대, 원룸양도, 방임대, 방양도, 보증금">
    <meta name="author" content="패러다임">
    <meta itemprop="name" content="방단기">
    <meta itemprop="description" content="방단기 | 단기 방 임대/양도, 보증금없는 방 임대/양도">
    <meta name="twitter:title" content="방단기">
    <meta name="twitter:description" content="방단기 | 단기 방 임대/양도, 보증금없는 방 임대/양도">
    <meta property="og:title" content="방단기">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="방단기">
    <meta property="og:description" content="방단기 | 단기 방 임대/양도, 보증금없는 방 임대/양도">
    <meta property="og:url" content="https://bangdangi.web.app/">
    <link rel="canonical" href="https://bangdangi.web.app/" />
    <!-- SEO END -->
    <title>방단기</title>
    <link rel=stylesheet type="text/css" href="/css/article.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TC8GC5C"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <span id="headerBG"></span>
    <div id="wrapper">
        <header>
            <div class="header_l">
            </div>
            <div class="header_c">
                <a href="https://bangdangi.web.app/"><img src="/img/logo_w.png"></a>
                <p>방학기간, 2학기만 살 방을 구하고 있다면?</p>
            </div>
            <div class="header_r">
                <a href="https://bangdangi.web.app/board/list/<%=univ%>">목록으로</a>
            </div>
        </header>
        <content>
            <% if(data.title !== null) { %>
            <h1 class="title">
                <%= data.title %>
            </h1>    
            <% } %>
            <% if(data.images !== null) { %>
            <div class="slider_container">
                <div class="mask">
                    <div class="image_container">
                        <% for(i of data.images) { %>
                            <div style="background:url('<%=i%>') no-repeat center center;background-size:contain;"></div>
                        <% } %>
                    </div>    
                </div>
                <span class="slider_btn slider_btn_l"><i class="xi-angle-left xi-2x"></i></span>
                <span class="slider_btn slider_btn_r"><i class="xi-angle-right xi-2x"></i></span>
                <span class="slider_counter"></span>
            </div>
            <% } %>
            <div class="info_container">
                <div class="row">
                    <div class="cell">
                        <div class="cell_title">
                            기간
                        </div>
                        <div class="cell_data">
                            <%= data.startDate ? new Date(data.startDate.toMillis()-32400000).toLocaleDateString() : '' %>
                            <%= (data.startDate || data.endDate) ? ' ~ ' : '' %> 
                            <%= data.endDate ? new Date(data.endDate.toMillis()-32400000).toLocaleDateString() : '' %>
                        </div>
                    </div>
                    <div class="cell">
                        <div class="cell_title">
                            위치
                        </div>
                        <div class="cell_data">
                            <%= (data['locationL'] ? Object.keys(data['locationL']).join(' ') : '') %> <%= (data['locationS'] ? Object.keys(data['locationS']).join(' ') : '') %>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="cell">
                        <div class="cell_title">
                            가격
                        </div>
                        <div class="cell_data">
                            <%= data.deposit!==null ? data.deposit : '문의' %>/<%= data.price!==null ? data.price : '문의' %>
                        </div>
                    </div>
                    <div class="cell">
                        <div class="cell_title">
                            관리비
                        </div>
                        <div class="cell_data">
                            <% if(data.expense !== null) { %>
                                <%= data.expense %>만원
                            <% }%>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="cell">
                        <div class="cell_title">
                            방 형태
                        </div>
                        <div class="cell_data">
                            <%= data.roomType || '' %>
                        </div>
                    </div>
                    <div class="cell">
                        <div class="cell_title">
                            해당층/전체층
                        </div>
                        <div class="cell_data">
                            <%= data.floor!==null ? data.floor+'층' : '' %><%= data.totalFloor===null ? '' : '/'+data.totalFloor+'층' %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text_container">
                <%= data.text || '' %>
            </div>
            <div class="contact_container">
                <div class="contact_btn" data-contact="<%= data.contact || '' %>">
                    매물 등록자와 연락하기
                </div>
                <a class="cancel_btn" href="https://bangdangi.web.app/board/list/<%=univ%>">
                    다른 방 보러가기
                </a>
            </div>
        </content>
        <footer>
            <div>
                개인과 직거래시 언제나 안전에 유의하세요.
            </div>
        </footer>
    </div>
</body>
<script>
    var imageContainer = document.getElementsByClassName('image_container')[0];
    <% if(data.images !== null) { %>
        var sliderCounter = document.getElementsByClassName('slider_counter')[0];
        var imgNum = imageContainer.childElementCount;
        var currentCount = 1;
        var leftBtn = document.getElementsByClassName('slider_btn_l')[0];
        var rightBtn = document.getElementsByClassName('slider_btn_r')[0];
        
        sliderCounter.innerText = `${currentCount}/${imgNum}`;

        function moveL() {
            if (currentCount === 1) 
                currentCount = imgNum;    
            else
                currentCount -= 1;
            imageContainer.style.left = `${(currentCount-1)*(-100)}%`;
            sliderCounter.innerText = `${currentCount}/${imgNum}`;   
        }
        function moveR() {
            if (currentCount === imgNum) 
                currentCount = 1;    
            else
                currentCount += 1;
            imageContainer.style.left = `${(currentCount-1)*(-100)}%`;
            sliderCounter.innerText = `${currentCount}/${imgNum}`;     
        }

        leftBtn.addEventListener('click', moveL);
        rightBtn.addEventListener('click', moveR);
    <% } %>
    
    var contactBtn = document.getElementsByClassName('contact_btn')[0];

    function contact() {
        var contact = this.dataset.contact;
        var reg = /^\d+$/;
        var isValid = reg.test(contact);
        if (isValid) {
            window.open(`tel:${contact}`); 
        }
        else {
            window.open(contact);
        }
    }

    contactBtn.addEventListener('click', contact);
</script>
</html>