<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141137545-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({
            'event': 'Pageview',
            'pagePath': '/board/read/<%=univ%>/<%=articleNo%>',
            'pageTitle': '/<%=univ%>/<%=articleNo%>',
            'univ': "<%=univ%>"
        });
    </script>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-TC8GC5C');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- SEO START -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="방단기 | <%=univKo%> 단기 방 임대/양도, 보증금없는 방 임대/양도, 단기원룸, 대전원룸, 부산대원룸, 서울원룸, 부산원룸, 부경대원룸">
    <meta name="keyword" content="방단기, 원룸임대, 원룸양도, 방임대, 방양도, 보증금">
    <meta name="author" content="패러다임">
    <meta itemprop="name" content="방단기">
    <meta itemprop="description" content="방단기 | <%=univKo%> 단기 방 임대/양도, 보증금없는 방 임대/양도, 단기원룸, 대전원룸, 부산대원룸, 서울원룸, 부산원룸, 부경대원룸">
    <meta name="twitter:title" content="방단기">
    <meta name="twitter:description" content="방단기 | <%=univKo%> 단기 방 임대/양도, 보증금없는 방 임대/양도, 단기원룸, 대전원룸, 부산대원룸, 서울원룸, 부산원룸, 부경대원룸">
    <meta property="og:title" content="방단기">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="방단기">
    <meta property="og:description" content="방단기 | <%=univKo%> 단기 방 임대/양도, 보증금없는 방 임대/양도, 단기원룸, 대전원룸, 부산대원룸, 서울원룸, 부산원룸, 부경대원룸">
    <meta property="og:url" content="https://bangdangi.web.app/">
    <link rel="canonical" href="https://bangdangi.web.app/" />
    <!-- SEO END -->
    <title><%= data.title || '매물 상세보기' %> | 방단기</title>
    <link rel="shortcut icon" href="../../../img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../../../img/favicon.ico" type="image/x-icon">
    <link rel=stylesheet type="text/css" href="../../../css/common.css" />
    <link rel=stylesheet type="text/css" href="../../../css/headerBar.css" />
    <link rel=stylesheet type="text/css" href="../../../css/article.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <!-- JS-LOAD-IMAGE : 이미지 자동 회전을 위한 라이브러리 -->
    <script src="https://bangdangi.web.app/js/load-image.all.min.js"></script>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TC8GC5C" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <span id="headerBG"></span>
    <div id="wrapper">
        <!-- 헤더 -->
        <header>
            <div id="header_inner">
                <div class="back_btn">
                    <a class="back_arrow" href="https://bangdangi.web.app/board/list/<%=univ%>">
                        <i class="xi-arrow-left"></i>
                    </a>
                    <a class="header_logo" href="https://bangdangi.web.app/">
                        <img src="../../../img/bangdangi_logo_2.png" alt="방단기 로고">
                    </a>
                </div>
                <ul class="share_container">
                    <li class="kakao_link_btn">
                        <a href="javascript:;" id="kakao-link-btn">
                            <img
                                src="//developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_medium.png" />
                            <!-- 톡 이미지 부분이고, 전 kakaolink_btn_small.png로 불러왔습니다.   -->
                        </a>
                    </li>

                    <li class="url_link_btn">
                        <a href="javascript:;">
                            <img src="../../../img/url_link_image.png">
                        </a>
                    </li>
                    <li class="share_btn">
                        <a href="javascript:;">
                            <i class="xi-share-alt-o"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </header>

        <!-- 제목 + 사진 + 기본정보 블럭 -->
        <div class="block1">
            <div class="titleBlock">
                <!-- 글 제목-->
                <h1 class="title">
                    <%= data.title || '' %>
                    <% if(done === true) {  %>
                        <span class="done_container">거래완료</span>
                    <% } %>
                </h1>
                <!-- 조회수 -->
                <div class="views_container">
                    <div class="views_title">조회</div>
                    <div class="views_number"><%= data.views %></div>
                </div>
            </div>
            <div class="infoBlock">
                <!-- 이미지 슬라이더-->
                <% if(data.images !== null) { %>
                <div class="slider_container">
                    <div class="mask">
                        <div class="image_container">
                            <% for(i of data.images) { %>
                            <div style="background:url('<%=i%>') no-repeat center center;background-size:contain;">
                            </div>
                            <% } %>
                        </div>
                    </div>
                    <span class="slider_btn slider_btn_l"><i class="xi-angle-left xi-2x"></i></span>
                    <span class="slider_btn slider_btn_r"><i class="xi-angle-right xi-2x"></i></span>
                    <span class="slider_counter"></span>
                </div>
                <% } %>
                <!-- 기본 정보 -->
                <div class="info_container">
                    <!-- 기본정보 영역 제목 -->
                    <div class="info_title">매물정보</div>
                    <!-- 기본정보 영역 테이블 -->
                    <div class="info_table">
                        <!-- 보증금 -->
                        <div class="row">
                            <div class="cell_title">가격</div>
                            <div class="cell_data">
                                보증금 <span><%= data.deposit!==null ? data.deposit : '문의' %></span> / 월세
                                <span><%= data.price!==null ? data.price : '문의' %></span>
                            </div>
                        </div>
                        <!-- 기간 -->
                        <div class="row">
                            <div class="cell_title">
                                기간
                            </div>
                            <div class="cell_data">
                                <% if(data.startDate === null && data.endDate === null) { %>
                                    <% if(data['minTerm']) { %>
                                    <%= data['minTerm']+'개월이상' %>
                                    <% } %>
                                <% } else { %>
                                    <%= data.startDate ? new Date(data.startDate.toMillis()).toLocaleDateString() : '' %>
                                    <%= (data.startDate || data.endDate) ? ' ~ ' : '' %>
                                    <%= data.endDate ? new Date(data.endDate.toMillis()).toLocaleDateString() : '' %>
                                <% } %>
                            </div>
                        </div>
                        <!-- 위치 -->
                        <div class="row">
                            <div class="cell_title">
                                위치
                            </div>
                            <div class="cell_data">
                                <%= (data['locationS'] ? Object.keys(data['locationS']).join(' ') : '문의') %>
                            </div>
                        </div>
                        <!-- 관리비 -->
                        <div class="row">
                            <div class="cell_title">
                                관리비
                            </div>
                            <div class="cell_data">
                                <%= data.expense === null ? '문의' : data.expense+'만원' %>
                            </div>
                        </div>
                        <!-- 방 형태-->
                        <div class="row">
                            <div class="cell_title">
                                방 형태
                            </div>
                            <div class="cell_data">
                                <%= data.roomType || '문의' %>
                            </div>
                        </div>
                        <!-- 층수 -->
                        <div class="row">
                            <div class="cell_title">
                                층수
                            </div>
                            <div class="cell_data">
                                <% if (data.floor === -1) { %>
                                반지층
                                <% } else { %>
                                <%= data.floor!==null ? data.floor+'층' : '문의' %>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 본문 블럭 -->
        <div class="block2">
            <div class="detail_title">상세설명</div>
            <p class="detail_text"><%= data.text || '' %></p>
            <!-- 연락하기 버튼 블럭 START -->
            <div class="contact_container">
                <a class="cancel_btn" href="https://bangdangi.web.app/board/list/<%=univ%>">
                    <i class="xi-arrow-left"></i> &nbsp; 다른 단기 원룸 보러가기
                </a>
                <% if (done === true) { %>
                    <div class="contact_btn_container">
                        <div class="contact_done">
                            거래완료된 매물입니다
                        </div>
                    </div>
                <% } else { %>
                    <div class="contact_btn_container" data-contact="<%= data.contact || '' %>">
                        <% if (data.contact && data.contact.length > 15) { %>
                        <a class="contact_kakao contact" data-type="kakao" data-contact="<%= data.contact || '' %>"
                            href="javascript:void(0);">
                            오픈채팅방으로 연락하기 &nbsp;&nbsp; <i class="xi-kakaotalk"></i>
                        </a>
                        <% } else { %>
                        <a class="contact_call contact" data-type="tel" data-contact="<%= data.contact || '' %>"
                            href="javascript:void(0);">
                            <i class="xi-call"></i> &nbsp;&nbsp; 전화 연락하기
                        </a>
                        <a class="contact_sms contact" data-type="sms" data-contact="<%= data.contact || '' %>"
                            href="javascript:void(0);">
                            <i class="xi-mail-o"></i> &nbsp;&nbsp; 문자 연락하기
                        </a>
                        <% } %>
                    </div>
                <% } %>
                
            </div>
            <!-- 연락하기 버튼 블럭 END -->
        </div>

        <!-- 관련 매물 블럭 -->
        <div class="block3">
            <div class="related_title">
                관련 매물
            </div>
            <div class="related_body">
                <% for (i of related) { %>
                <a href="<%= i.url %>">
                    <div class="related_img_container">
                        <div class="related_img"
                            style="background: center / cover no-repeat url('<%= i.img %>'),  #ebeef1;"></div>
                    </div>
                    <p><%= i.line1 %></p>
                    <p><%= i.line2 %></p>
                </a>
                <% } %>
            </div>
        </div>

        <!-- 관련 매물 더 보러가기-->
        <a class="related_more" href="https://bangdangi.web.app/board/list/<%=univ%>">
            <i class="xi-plus-thin"></i> &nbsp; 관련 매물 더 보기
        </a>

        <!-- 푸터 -->
        <footer>
            <div>
                개인과 직거래시 언제나 안전에 유의하세요.
            </div>
        </footer>
    </div>
</body>
<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
<script>
    var dataImages = <%= data.images ? true : false %>;
    var dataDone = <%= done %>;
    var dataKakao = {
        title: '<%= kakao.title %>', // 본문 제목
        description: '<%= kakao.description %>',  // 본문 바로 아래 들어가는 영역
        imageUrl: '<%= kakao.imageUrl %>', // 이미지
        link: {
            mobileWebUrl: '<%= kakao.link %>',
            webUrl: '<%= kakao.link %>'
        }
    }
</script>
<script src="../../../babel/dst/articleDetail.js"></script>

<!-- Channel Plugin Scripts -->
<script>
    (function () {
        var w = window;
        if (w.ChannelIO) {
            return (window.console.error || window.console.log || function () { })('ChannelIO script included twice.');
        }
        var d = window.document;
        var ch = function () {
            ch.c(arguments);
        };
        ch.q = [];
        ch.c = function (args) {
            ch.q.push(args);
        };
        w.ChannelIO = ch;
        function l() {
            if (w.ChannelIOInitialized) {
                return;
            }
            w.ChannelIOInitialized = true;
            var s = document.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = 'https://cdn.channel.io/plugin/ch-plugin-web.js';
            s.charset = 'UTF-8';
            var x = document.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s, x);
        }
        if (document.readyState === 'complete') {
            l();
        } else if (window.attachEvent) {
            window.attachEvent('onload', l);
        } else {
            window.addEventListener('DOMContentLoaded', l, false);
            window.addEventListener('load', l, false);
        }
    })();
    ChannelIO('boot', {
        "pluginKey": "5ce5e194-1fa1-4289-9d57-c84d88b225a0"
    });
</script>
<!-- End Channel Plugin -->

</html>