<!DOCTYPE html>
<html lang="ko">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141137545-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({
      'event': 'Pageview',
      'pagePath': '/board/list/<%=univ%>',
      'pageTitle': '<%=univ%>'
    });
  </script>
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-TC8GC5C');</script>
  <!-- End Google Tag Manager -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- SEO START -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="방단기 | <%=univKo%> 단기 방 임대/양도, 보증금없는 방 임대/양도, 단기원룸, 대전원룸, 부산대원룸, 서울원룸, 부산원룸, 부경대원룸">
  <meta name="keyword" content="방단기, 원룸임대, 원룸양도, 방임대, 방양도, 보증금">
  <meta name="author" content="패러다임">
  <meta itemprop="name" content="방단기">
  <meta itemprop="description"
    content="방단기 | <%=univKo%> 단기 방 임대/양도, 보증금없는 방 임대/양도, 단기원룸, 대전원룸, 부산대원룸, 서울원룸, 부산원룸, 부경대원룸">
  <meta name="twitter:title" content="방단기">
  <meta name="twitter:description"
    content="방단기 | <%=univKo%> 단기 방 임대/양도, 보증금없는 방 임대/양도, 단기원룸, 대전원룸, 부산대원룸, 서울원룸, 부산원룸, 부경대원룸">
  <meta property="og:title" content="방단기">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="방단기">
  <meta property="og:description"
    content="방단기 | <%=univKo%> 단기 방 임대/양도, 보증금없는 방 임대/양도, 단기원룸, 대전원룸, 부산대원룸, 서울원룸, 부산원룸, 부경대원룸">
  <meta property="og:url" content="https://bangdangi.web.app/">
  <link rel="canonical" href="https://bangdangi.web.app/" />
  <!-- SEO END -->
  <title><%=univKo%> 단기원룸 | 방단기</title>
  <link rel="shortcut icon" href="../../img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="../../img/favicon.ico" type="image/x-icon">
  <link rel=stylesheet type="text/css" href="../../css/common.css" />
  <link rel=stylesheet type="text/css" href="../../css/headerBar.css" />
  <link rel=stylesheet type="text/css" href="../../css/footer.css" />
  <link rel=stylesheet type="text/css" href="../../css/list.css" />
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TC8GC5C" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!-- 헤더 -->
  <header>
    <div id="header_inner">
      <a class="header_logo" href="https://bangdangi.web.app/">
        <img src="../../img/bangdangi_logo_2.png" alt="방단기 로고">
      </a>
      <ul class="nav">
        <li><a href="https://bangdangi.web.app/request">이런방구해요</a></li>
        <li><a href="http://pf.kakao.com/_HxcGdT/chat">매물등록</a></li>
      </ul>
    </div>
  </header>
  <div class="form_container">
    <!-- form -->
    <form id="univ_form">
      <label for="univ_select">학교를 선택해주세요</label>
      <select name="univ" id="univ_select">
        <option value="">학교를 선택해 주세요</option>
        <optgroup label="서울">
          <option value="mafo" <%= (univ==='mafo') ? 'selected' : '' %>>마포구,서대문구(연세대/이대/홍대)</option>
          <option value="gwanak" <%= (univ==='gwanak') ? 'selected' : '' %>>관악구(서울대)</option>
          <option value="dongdaemun" <%= (univ==='dongdaemun') ? 'selected' : '' %>>동대문구(외대/경희대/시립대)</option>
          <option value="seongdong" <%= (univ==='seongdong') ? 'selected' : '' %>>성동구(한양대)</option>
        </optgroup>
        <optgroup label="대전">
          <option value="cnu" <%= (univ==='cnu') ? 'selected' : '' %>>충남대학교</option>
        </optgroup>
        <optgroup label="부산">
          <option value="pnu" <%= (univ==='pnu') ? 'selected' : '' %>>부산대학교</option>
        </optgroup>
      </select>
      <div class="tune_container"><i class="xi-tune"></i></div>
    </form>
    <!-- filter -->
    <div id="hashtag_container">
      <form action="https://bangdangi.web.app/board/list/<%=univ%>" method="get">
        <div class="input_container">
          <div class="hashtag_title">장소</div>
          <div class="hashtag_list">
            <% for (i of keywordList) { %>
            <input type="checkbox" name="locationKeywords[]" id="<%= i %>" value="<%= i %>"
              <%= (filterOption.location!==undefined&&filterOption.location.includes(`${i}`)) ? 'checked' : '' %>>
            <label for="<%= i %>"><span><%= i %></span></label>
            <% } %>
          </div>
          <div class="hashtag_title">기간</div>
          <div class="hashtag_list">
            <input type="range" name="monthLimit" value="<%=filterOption.date || 1%>"
              min="1" max="12" step="1">
            <span class="range_value"><%=filterOption.date || 1%></span>월까지
          </div>
          <div class="hashtag_title">가격</div>
          <div class="hashtag_list">
            <input type="checkbox" name="priceKeywords[]" id="무보증금" value="무보증금"
              <%= (filterOption.price!==undefined) ? 'checked' : '' %>>
            <label for="무보증금"><span>무보증금</span></label>
          </div>
        </div>
        <div class="submit_container">
          <input type="submit" value="적용">
          <a href="https://bangdangi.web.app/board/list/<%=univ%>">
            <i class="xi-renew"></i> 초기화
          </a>
        </div>
      </form>
    </div>
  </div>


  <div id="lower">
    <div class="listTitle">
      매물 리스트
      <div class="sortBtnContainer">
        <span class="sortBtn active" data-sortby="time">최신순</span>
        <span class="sortBtn" data-sortby="view">조회순</span>
      </div>
    </div>
    <!-- 매물이 없을때는 에러메세지를 출력 -->
    <% if (!err) { %>
    <div id="main">
      <% for ( room of roomList ) { %>
      <% if ( room.ad ) { %>
      <a class="request_container" href="/request">
        <div class="request_text_container">
          찾고있는 방이 없나요?<br />
          방 요청을 등록하면 원하는 방을 무료로 찾아드립니다!
        </div>
        <div class="request_button_container">
          방 요청하기
        </div>
      </a>
      <% } else { %>
      <a href=<%= room['url'] %> data-id=<%= room['url'] %> data-univ=<%= univ %> data-timeStamp=<%= room.timeStamp %>
        data-views=<%= room.views %>>
        <div class="list_wrapper">
          <div class="list_left">
            <div class="list_upper">
              <div class="tag_container">
                <% for (i of room.dateKeywords) { %>
                <span><%= i %></span>
                <% } %>
              </div>
              <div class="price_container">
                <span class="roomType"><%= room.tradeType === null ? '' : room.tradeType %></span>
                <%= `${room.deposit}/${room.price}` %>
                <% if (room.new) { %>
                <span class="new"><i class="xi-new"></i></span>
                <% } %>
              </div>
            </div>
            <div class="list_mid">
              <div>
                <%= room.line1 %>
              </div>
              <div>
                <%= room.line2 %>
              </div>
            </div>
            <div class="list_lower">
              <div class="keywords_container">
                <% for(i of room.keywords) { %>
                <span><%=i%></span>
                <% } %>
              </div>
            </div>
          </div>
          <div class="list_right">
            <div class="pic_container">
              <% if (room.urlType === 'mypnu') { %>
              <div style="background: center / cover no-repeat url('../../img/mypnu_logo.png'), #f6f6f8;"></div>
              <% } else if (room.urlType === 'everytime') { %>
              <div style="background: center / cover no-repeat url('../../img/everytime_logo.png'), #f6f6f8;"></div>
              <% } else if (room.urlType === 'peterpanz') { %>
              <div style="background: center / cover no-repeat url('../../img/peterpanz_logo.png'), #f6f6f8;"></div>
              <% } else if (room.urlType === 'dabang') { %>
              <div style="background: center / cover no-repeat url('../../img/dabang_logo.png'), #f6f6f8;"></div>
              <% } else if (room.imageURL !== null) { %>
              <div style="background: center / cover no-repeat url('<%=room.imageURL%>');"></div>
              <% } else { %>
              <div style="background: center / cover no-repeat url('../../img/bangdangi_logo_3.png'), #f6f6f8;"></div>
              <% } %>
              <% for (i of room.discountKeywords) { %>
              <span class="discount"><%= i %></span>
              <% } %>
            </div>
          </div>
        </div>
      </a>
      <% } %>

      <% } %>
    </div>
    <% } else { %>
    <div class="error_container">
      <i class="xi-error-o"> <%= err %></i>
    </div>
    <% } %>
    <% if (roomList.length < 5) { %>
    <div class="request_container">
      <p>
        찾고있는 방이 없나요?<br>
        방 요청을 등록하면 원하는 방을 찾아드립니다!
      </p>
      <a href="http://pf.kakao.com/_fCxjwT/chat">방 요청하기</a>
    </div>
    <% } %>
  </div>

  <!-- 푸터 -->
  <footer>
    <div class="footerContainer">
      <div class="footer_left">
        <a href="/aboutUs">방단기 소개</a>
        <a href="//pf.kakao.com/_HxcGdT">문의하기</a>
        <a href="#header_inner" onclick="javascript:window.scrollTo(0,0);">TOP</a>
      </div>
      <!-- SNS 버튼 -->
      <div class="footer_right">
        <a href="https://www.instagram.com/bang_dangi/?hl=ko">
          <i class="xi-instagram"></i>
        </a>
        <a href="https://blog.naver.com/bangdangi">
          <i class="xi-naver-square"></i>
        </a>
      </div>
    </div>
  </footer>

  <script>
    var currentUniv = "<%= univ %>";
  </script>
  <script src="//cdn.polyfill.io/v3/polyfill.min.js" async defer></script>
  <script src="../../../babel/dst/articleList.js"></script>
  <!-- Channel Plugin Scripts -->
  <script>
    (function () {
      var w = window;
      if (w.ChannelIO) {
        return (window.console.error || window.console.log || function () { })('ChannelIO script included twice.');
      }
      var d = window.document;
      var ch = function () {
        ch.c(arguments);
      };
      ch.q = [];
      ch.c = function (args) {
        ch.q.push(args);
      };
      w.ChannelIO = ch;
      function l() {
        if (w.ChannelIOInitialized) {
          return;
        }
        w.ChannelIOInitialized = true;
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = 'https://cdn.channel.io/plugin/ch-plugin-web.js';
        s.charset = 'UTF-8';
        var x = document.getElementsByTagName('script')[0];
        x.parentNode.insertBefore(s, x);
      }
      if (document.readyState === 'complete') {
        l();
      } else if (window.attachEvent) {
        window.attachEvent('onload', l);
      } else {
        window.addEventListener('DOMContentLoaded', l, false);
        window.addEventListener('load', l, false);
      }
    })();
    ChannelIO('boot', {
      "pluginKey": "5ce5e194-1fa1-4289-9d57-c84d88b225a0"
    });
  </script>
  <!-- End Channel Plugin -->
</body>

</html>