<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141137545-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      window.dataLayer.push({
        'event': 'Pageview',
        'pagePath': '/<%=univ%>/',
        'pageTitle': '<%=univ%>'
      });
    </script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TC8GC5C');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- SEO START -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="방단기 | 단기 방 임대/양도, 보증금없는 방 임대/양도">  
    <meta name="keyword" content="방단기, 원룸임대, 원룸양도, 방임대, 방양도, 보증금">
    <meta name="author" content="패러다임">
    <meta itemprop="name" content="방단기">
    <meta itemprop="description" content="방단기 | 단기 방 임대/양도, 보증금없는 방 임대/양도">
    <meta name="twitter:title" content="방단기">
    <meta name="twitter:description" content="방단기 | 단기 방 임대/양도, 보증금없는 방 임대/양도">
    <meta property="og:title" content="방단기">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="방단기">
    <meta property="og:description" content="방단기 | 단기 방 임대/양도, 보증금없는 방 임대/양도">
    <meta property="og:url" content="https://bangdangi.web.app/">
    <link rel="canonical" href="https://bangdangi.web.app/" />
    <!-- SEO END --> 
    <title>방단기</title>
    <link rel=stylesheet type="text/css" href="/css/style.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TC8GC5C"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id="upper">
      <div id="title">
        <a href="https://bangdangi.web.app/">
          <img src="/img/logo_w.png">
        </a>
        <p>방학기간, 2학기만 살 방을 구하고 있다면?</p>
      </div>
      <form id="univ_form">
        <select name="univ" id="univ_select">
          <option value="">학교를 선택해 주세요</option>
          <optgroup label="서울">
            <option value="hufsSC" <%= (univ==='hufsSC') ? 'selected' : '' %>>한국외국어대학교 서울캠퍼스</option>
            <option value="khuSC" <%= (univ==='khuSC') ? 'selected' : '' %>>경희대학교 서울캠퍼스</option>
            <option value="hanyang" <%= (univ==='hanyang') ? 'selected' : '' %>>한양대학교</option>
          </optgroup>
          <optgroup label="경기">
            <option value="hufsGC" <%= (univ==='hufsGC') ? 'selected' : '' %>>한국외국어대학교 글로벌캠퍼스</option>
            <option value="khuGC" <%= (univ==='khuGC') ? 'selected' : '' %>>경희대학교 국제캠퍼스</option>
            <option value="hankyong" <%= (univ==='hankyong') ? 'selected' : '' %>>한경대학</option>
          </optgroup>
          <optgroup label="대전">
            <option value="cnu" <%= (univ==='cnu') ? 'selected' : '' %>>충남대학교</option>
          </optgroup>      
          <optgroup label="부산">
            <option value="pnu" <%= (univ==='pnu') ? 'selected' : '' %>>부산대학교</option>
            <option value="pknu" <%= (univ==='pknu') ? 'selected' : '' %>>부경대학교</option>
            <option value="donga" <%= (univ==='donga') ? 'selected' : '' %>>동아대학교</option>
          </optgroup>
        </select>
      </form>
    </div>

    <div id="lower">
      <div id="hashtag_container">
        <div id="hashtag_title">주요 장소태그</div>
        <div id="hashtag_list">
            <% for (i of locationHashtagList) { %>
                <span class="hashtag"><%= i %></span>
            <% } %>
        </div>
        <div id="hashtag_title">주요 기간태그</div>
        <div id="hashtag_list">
            <% for (i of dateHashtagList) { %>
                <span class="hashtag"><%= i %></span>
            <% } %>
        </div>
      </div>
      <div id="main">
          <% for ( room of roomList) { %>
            <a href=<%= room['url'] %> target="_sub" data-id=<%= room['url'] %> data-univ=<%= univ %>>
                <div class="list_wrapper">
                    <div class="list_left">
                        <div class="list_upper">
                            <div class="list_upper_l">
                                <div class="icon_container">
                                    <img src="<%=room['iconPath']%>" style="width:30px;">
                                </div>
                            </div>
                            <div class="list_upper_r">
                                <div class="hashtag_container">
                                    <% for (i of room['upperKeywords']) { %>
                                        <span><%= i %></span>
                                    <% } %>
                                </div>
                                <div class="price_container">
                                    <%= `${room['deposit']}/${room['monthly']}` %>
                                </div>
                            </div>   
                        </div>
                        <div class="list_mid">
                            <div><%=room['line1']%></div>
                            <div><%=room['line2']%></div>
                        </div>
                        <div class="list_lower">
                            <div class="keywords_container">
                                <% for(i of room['keywords']) { %>
                                    <span><%=i%></span>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="list_right">
                    <div><img src="/img/arrow.png"></div>
                    </div>
                </div>
            </a>
          <% } %>
      </div>
    </div>
    <div id="footer">
        <div class="top_btn">
            <i class="xi-angle-up-min"></i>
            <p>TOP</p>
        </div>
        <div>
            <a href="http://pf.kakao.com/_HxcGdT">
            <i class="xi-kakaotalk"></i>문의하기
            </a>
        </div>
        <div>
            <a href="https://www.instagram.com/bang_dangi/?hl=ko">
            <i class="xi-instagram"></i>인스타그램
            </a>
        </div>
    </div>
    
    <!-- 알림 서비스 배너 -->
    <a href="https://bangdangi.web.app/noti" class="noti_banner_container noti_hidden">
          <div id="noti_banner">
            <p id="noti_title">원하는 매물을 찾지 못하셨다면?</p>
            <p>방단기 알림서비스 받아보기! 
              <span>
                <i class="xi-angle-right-min"></i>
              </span>
            </p>
            <span id="noti_close">
              <i class="xi-close"></i>
            </span>
          </div>
    </a>
    <script>
        document.getElementById('lower').style.display = 'initial';
        var roomList = JSON.parse('['+`<%- roomList.map((room) => JSON.stringify(room)) %>`+']');
        var univSelect = document.getElementById('univ_select');
        var currentUniv = "<%= univ %>";
        var isFirstScroll = [false, false, false, false, false];
        var notiBanner = document.getElementsByClassName('noti_banner_container')[0];
        var isBannerOpened = false;
        var topBtn = document.getElementsByClassName('top_btn')[0];

        if (window.innerWidth >= 530) topBtn.style.display = 'block';

        function toggleHashtag() {
            this.classList.toggle('active');
            updateRoomList(); 
        }

        function updateRoomList() {
            let filtered = [];
            let clickedHashtag = Array.from(document.getElementsByClassName('hashtag active'));
            // 해시태그 전부가 클릭해제 됬다면 모든 방 리스트를 보여준다.
            if (clickedHashtag.length == 0) displayRoomList(roomList, currentUniv);
            // 클릭된 해시태그를 갖고있는 방만 보여준다. 
            else {
            clickedHashtag.forEach((i) => {   
                for(room of roomList) {
                    if (room['hashtag'].includes(i.innerText) == true) {
                        filtered.push(room);
                    }
                }
            });
            displayRoomList(filtered, currentUniv);
            }
        }

        function displayRoomList(list, univ) {
            document.getElementById('main').innerHTML = '';
            for (room of list) {
                document.getElementById('main').innerHTML += 
                `
                    <a href=${room['url']} target="_sub" data-id=${room['url']} data-univ=${currentUniv}>
                        <div class="list_wrapper">
                            <div class="list_left">
                                <div class="list_upper">
                                    <div class="list_upper_l">
                                        <div class="icon_container">
                                            <img src=${room['iconPath']} style="width:30px;">
                                        </div>
                                    </div>
                                    <div class="list_upper_r">
                                        <div class="hashtag_container">
                                            ${room['upperKeywords'].map((h) => `<span>${h}</span>`).join('')}
                                        </div>
                                        <div class="price_container">
                                            ${room['deposit']}/${room['monthly']}
                                        </div>
                                    </div>   
                                </div>
                                <div class="list_mid">
                                    <div>${room['line1']}</div>
                                    <div>${room['line2']}</div>
                                </div>
                                <div class="list_lower">
                                    <div>${new Date(room['createdAt']).toLocaleDateString()} 등록</div>
                                </div>
                            </div>
                            <div class="list_right">
                            <div><img src="/img/arrow.png"></div>
                            </div>
                        </div>
                    </a>
                `;
            }
        }
        
        // 해시태그에 이벤트 연결
        Array.from(document.getElementsByClassName('hashtag'))
        .forEach((i) => { i.addEventListener('click', toggleHashtag) });    

        function changeRoomList() {
            if(this.value == "") return;
            showLoading();
            loadData(this.value);
            document.getElementById('mid').style.display = 'none';
            currentUniv = this.value;
            isFirstScroll = [false, false, false, false, false];
            isBannerOpened = false;
        }

        function sendScrollTag() {
            if (currentUniv === '') return;

            var h = document.documentElement, 
            b = document.body,
            st = 'scrollTop',
            sh = 'scrollHeight';
            var percent = (h[st]||b[st]) / ((h[sh]||b[sh]) - h.clientHeight) * 100;

            if (currentUniv==='pnu' || currentUniv==='hufsSC' || currentUniv==='hufsGC' || currentUniv==='cnu') {
                if (percent >= 20 && isBannerOpened===false) {
                    isBannerOpened = true;
                    openNotiBanner();
                }
            }
        }

        function changeRoomList() {
            if(this.value == "") return;
            window.location.href = `https://bangdangi.web.app/board/list/${this.value}`;
        }

        function closeNotiBanner() {
            notiBanner.classList.add('noti_hidden');
            event.preventDefault();
        }
        
        function openNotiBanner() {
            notiBanner.classList.remove('noti_hidden');
        }
        
        univSelect.onchange = changeRoomList;
        document.addEventListener('scroll', sendScrollTag);
        document.getElementById('noti_close').addEventListener('click', closeNotiBanner);
        topBtn.addEventListener('click', () => window.scrollTo(0,0));
    </script>
  </body>
</html>