<!DOCTYPE html>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141137545-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      window.dataLayer.push({
        'event': 'Pageview',
        'pagePath': '/board/read/<%=univ%>/<%=articleNo%>',
        'pageTitle': '/<%=univ%>/<%=articleNo%>',
        'univ': "<%=univ%>"
      });
    </script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TC8GC5C');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- SEO START -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="방단기 | 단기 방 임대/양도, 보증금없는 방 임대/양도, 단기원룸, 대전원룸, 부산대원룸, 서울원룸, 부산원룸, 부경대원룸">  
    <meta name="keyword" content="방단기, 원룸임대, 원룸양도, 방임대, 방양도, 보증금">
    <meta name="author" content="패러다임">
    <meta itemprop="name" content="방단기">
    <meta itemprop="description" content="방단기 | 단기 방 임대/양도, 보증금없는 방 임대/양도, 단기원룸, 대전원룸, 부산대원룸, 서울원룸, 부산원룸, 부경대원룸">
    <meta name="twitter:title" content="방단기">
    <meta name="twitter:description" content="방단기 | 단기 방 임대/양도, 보증금없는 방 임대/양도, 단기원룸, 대전원룸, 부산대원룸, 서울원룸, 부산원룸, 부경대원룸">
    <meta property="og:title" content="방단기">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="방단기">
    <meta property="og:description" content="방단기 | 단기 방 임대/양도, 보증금없는 방 임대/양도, 단기원룸, 대전원룸, 부산대원룸, 서울원룸, 부산원룸, 부경대원룸">
    <meta property="og:url" content="https://bangdangi.web.app/">
    <link rel="canonical" href="https://bangdangi.web.app/" />
    <!-- SEO END --> 
    <title>방단기</title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel=stylesheet type="text/css" href="/css/headerBar.css"/>
    <link rel=stylesheet type="text/css" href="/css/article.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TC8GC5C"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <span id="headerBG"></span>
    <div id="wrapper">
        <!-- 헤더 -->
        <header>
            <div id="header_inner">
                <div class="back_btn">
                    <a href="https://bangdangi.web.app/board/list/<%=univ%>">
                        <i class="xi-arrow-left"></i>
                    </a>
                </div>
                <ul class="share_container">
                    <li class="kakao_link_btn">
                        <a href="javascript:;" id="kakao-link-btn"> 
                            <img src="//developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_medium.png" /> <!-- 톡 이미지 부분이고, 전 kakaolink_btn_small.png로 불러왔습니다.   -->
                        </a>
                    </li>
                    
                    <li class="url_link_btn">
                        <a href="javascript:;"> 
                            <img src="/img/url_link_image.png">
                        </a>
                    </li>
                    <li class="share_btn">
                        <a href="javascript:;">
                            <i class="xi-share-alt-o"></i>   
                        </a>
                    </li>
                </ul>
            </div>       
        </header>
        
        <!-- 제목 + 사진 + 기본정보 블럭 -->
        <div class="block1">
            <div class="titleBlock">
                <!-- 글 제목-->
                <% if(data.title !== null) { %>
                <h1 class="title">
                    <%= data.title %>
                </h1>    
                <% } %>
            </div>
            <div class="infoBlock">
                <!-- 이미지 슬라이더-->
                <% if(data.images !== null) { %>
                    <div class="slider_container">
                        <div class="mask">
                            <div class="image_container">
                                <% for(i of data.images) { %>
                                    <div style="background:url('<%=i%>') no-repeat center center;background-size:contain;"></div>
                                <% } %>
                            </div>    
                        </div>
                        <span class="slider_btn slider_btn_l"><i class="xi-angle-left xi-2x"></i></span>
                        <span class="slider_btn slider_btn_r"><i class="xi-angle-right xi-2x"></i></span>
                        <span class="slider_counter"></span>
                    </div>
                <% } %>
                <!-- 기본 정보 -->
                <div class="info_container">
                    <!-- 기본정보 영역 제목 -->
                    <div class="info_title">매물정보</div>
                    <!-- 기본정보 영역 테이블 -->
                    <div class="info_table">
                        <div class="row">
                            <div class="cell_title">가격</div>
                            <div class="cell_data">
                                보증금 <span><%= data.deposit!==null ? data.deposit : '문의' %></span> / 월세 <span><%= data.price!==null ? data.price : '문의' %></span>
                            </div>    
                        </div>
                        <div class="row">
                            <div class="cell_title">
                                기간
                            </div>
                            <div class="cell_data">
                                <%= data.startDate ? new Date(data.startDate.toMillis()-32400000).toLocaleDateString() : '' %>
                                <%= (data.startDate || data.endDate) ? ' ~ ' : '' %> 
                                <%= data.endDate ? new Date(data.endDate.toMillis()-32400000).toLocaleDateString() : '' %>
                                <% if (data['dateKeywords'] && data['dateKeywords']['6개월']) { %>
                                <div class="cell_data_sub">
                                    6개월
                                </div>
                                <% } %>
                            </div>
                        </div>
                        <div class="row"> 
                            <div class="cell_title">
                                위치
                            </div>
                            <div class="cell_data">
                                <%= (data['locationS'] ? Object.keys(data['locationS']).join(' ') : '') %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="cell_title">
                                관리비
                            </div>
                            <div class="cell_data">
                                <% if(data.expense !== null) { %>
                                    <%= data.expense %>만원
                                <% }%>
                            </div>
                        </div>
                        <div class="row">
                            <div class="cell_title">
                                방 형태
                            </div>
                            <div class="cell_data">
                                <%= data.roomType || '' %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="cell_title">
                                해당층
                            </div>
                            <div class="cell_data">
                                <% if (data.floor === -1) { %>
                                    반지층
                                <% } else { %>
                                    <%= data.floor!==null ? data.floor+'층' : '' %>
                                <% } %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="cell_title">
                                전체층
                            </div>
                            <div class="cell_data">
                                <%= data.totalFloor===null ? '' : data.totalFloor+'층' %>
                            </div>
                        </div>
                    </div>
                </div>         
            </div>
        </div>
        
        <!-- 본문 블럭 -->
        <div class="block2">
            <div class="detail_title">상세설명</div>
            <p class="detail_text"><%= data.text || '' %></p>
        </div>

        <!-- 모바일에서 다른방 보러가기 버튼 -->
        <a class="cancel_mobile" href="https://bangdangi.web.app/board/list/<%=univ%>">
            <i class="xi-arrow-left"></i> 다른 방 보러가기
        </a>

        <!-- 연락하기 버튼 블럭 -->
        <div class="contact_container">
            <a class="cancel_btn" href="https://bangdangi.web.app/board/list/<%=univ%>">
                다른 방 보러가기
            </a>
            <div class="contact_btn" data-contact="<%= data.contact || '' %>">
                <% if (data.contact && data.contact.length > 15) { %>
                    오픈채팅방으로 연락하기 &nbsp;&nbsp; <i class="xi-kakaotalk"></i>
                <% } else { %>
                    매물 등록자와 연락하기 &nbsp;&nbsp; <i class="xi-call"></i>
                <% } %>      
            </div>  
        </div>

        <!-- 푸터 -->
        <footer>
            <div>
                개인과 직거래시 언제나 안전에 유의하세요.
            </div>
        </footer>
    </div>
</body>
<script>
    var imageContainer = document.getElementsByClassName('image_container')[0];
    <% if(data.images !== null) { %>
        var sliderCounter = document.getElementsByClassName('slider_counter')[0];
        var imgNum = imageContainer.childElementCount;
        var currentCount = 1;
        var leftBtn = document.getElementsByClassName('slider_btn_l')[0];
        var rightBtn = document.getElementsByClassName('slider_btn_r')[0];
        
        sliderCounter.innerText = `${currentCount}/${imgNum}`;

        function moveL() {
            if (currentCount === 1) 
                currentCount = imgNum;    
            else
                currentCount -= 1;
            imageContainer.style.left = `${(currentCount-1)*(-100)}%`;
            sliderCounter.innerText = `${currentCount}/${imgNum}`;   
        }
        function moveR() {
            if (currentCount === imgNum) 
                currentCount = 1;    
            else
                currentCount += 1;
            imageContainer.style.left = `${(currentCount-1)*(-100)}%`;
            sliderCounter.innerText = `${currentCount}/${imgNum}`;     
        }

        leftBtn.addEventListener('click', moveL);
        rightBtn.addEventListener('click', moveR);
    <% } %>
    
    var contactBtn = document.getElementsByClassName('contact_btn')[0];

    function contact() {
        var contact = this.dataset.contact;
        var reg = /^\d+$/;
        var isValid = reg.test(contact);
        if (isValid) {
            window.open(`tel:${contact}`); 
        }
        else {
            window.open(contact);
        }
    }

    contactBtn.addEventListener('click', contact);
</script>

<!-- 공유하기 -->
<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
<script type="text/javascript">
    //<![CDATA[
    // // 사용할 앱의 JavaScript 키를 설정해 주세요.
    Kakao.init('07ac8a4da1c7b6aa00a5947dc53f964a');
    // // 카카오링크 버튼을 생성합니다. 처음 한번만 호출하면 됩니다.
    Kakao.Link.createDefaultButton({
        container: '#kakao-link-btn',  // 컨테이너는 아까 위에 버튼이 쓰여진 부분 id 
        objectType: 'feed',
        content: {  // 여기부터 실제 내용이 들어갑니다. 
            title: '<%= kakao.title %>', // 본문 제목
            description: '<%= kakao.description %>',  // 본문 바로 아래 들어가는 영역
            imageUrl: '<%= kakao.imageUrl %>', // 이미지
            link: {
                mobileWebUrl: '<%= kakao.link %>',
                webUrl: '<%= kakao.link %>'
            }
        }
    });
    //]]>


    var share_btn = document.querySelector('.share_btn');
    var kakao_share = document.querySelector('.kakao_link_btn');
    var url_share = document.querySelector('.url_link_btn');
    var names = [
	"webkitTransitionEnd", 
	"oTransitionEnd", 
	"otransitionend", 
	"transitionend", 
    "transitionEnd" ];
    
    function toggleShare() {
        kakao_share.classList.toggle('kakao_visible');
        url_share.classList.toggle('url_visible');

        if (kakao_share.classList.contains('kakao_visible'))
            kakao_share.style.opacity = 1;

        if (url_share.classList.contains('url_visible'))
            url_share.style.opacity = 1;
    }
    function transitionEvent(element, callback) {
        for (var i = 0; i < names.length; i++) {
            element.addEventListener(names[i], callback, false);
        }
    }
    
    function copyURL() {
        var t = document.createElement("textarea");
        document.body.appendChild(t);
        t.value = `<%= kakao.link %>`;
        t.select();
        document.execCommand('copy');
        document.body.removeChild(t);
        window.alert('URL이 복사되었습니다.')
    }
    
    share_btn.addEventListener('click', toggleShare);
    url_share.addEventListener('click', copyURL);
    transitionEvent(kakao_share, function() { 
        if(!this.classList.contains('kakao_visible'))
            this.style.opacity = 0;
    });
    transitionEvent(url_share, function() {
        if(!this.classList.contains('url_visible'))
            this.style.opacity = 0;
    });
</script>
</html>