<!DOCTYPE html>
<html lang="ko">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141137545-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({
      'event': 'Pageview',
      'pagePath': '/board/list/<%=univ%>',
      'pageTitle': '<%=univ%>'
    });
  </script>
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-TC8GC5C');</script>
  <!-- End Google Tag Manager -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- SEO START -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="방단기 | <%=univKo%> 단기 방 임대/양도, 보증금없는 방 임대/양도, 단기원룸, 서울 단기임대, 서울 단기원룸">
  <meta name="keyword" content="방단기, 단기방, 서울 단기임대, 서울 단기원룸, 무보증 원룸, 원룸양도, 방임대, 방양도, 전대차">
  <meta name="author" content="방단기">
  <meta itemprop="name" content="방단기">
  <meta itemprop="description" content="방단기 | <%=univKo%> 단기 방 임대/양도, 보증금없는 방 임대/양도, 단기원룸, 서울 단기임대, 서울 단기원룸">
  <meta name="twitter:title" content="방단기">
  <meta name="twitter:description" content="방단기 | <%=univKo%> 단기 방 임대/양도, 보증금없는 방 임대/양도, 단기원룸, 서울 단기임대, 서울 단기원룸">
  <meta property="og:title" content="방단기">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="방단기">
  <meta property="og:description" content="방단기 | <%=univKo%> 단기 방 임대/양도, 보증금없는 방 임대/양도, 단기원룸, 서울 단기임대, 서울 단기원룸">
  <meta property="og:url" content="https://bangdangi.web.app/board/list/<%=univ%>">
  <link rel="canonical" href="https://bangdangi.web.app/board/list/<%=univ%>" />
  <!-- SEO END -->
  <title><%=univKo%> 단기원룸 | 방단기</title>
  <link rel="shortcut icon" href="../../img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="../../img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../../css/common.css" />
  <link rel="stylesheet" href="../../css/headerBar.css" />
  <link rel="stylesheet" href="../../css/footer.css" />
  <link rel="stylesheet" href="../../css/list.css" />
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TC8GC5C" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <!-- 헤더 -->
  <%- include('templates/gnb') %>

  <!-- 지역선택 -->
  <section class="form_container">
    <!-- form -->
    <div class="form-inner">

      <%- include('templates/selectForm') %>

      <div class="tune">
        <i class="xi-tune"></i>
        <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
      </div>
      <div class="renew">
        <a href="/board/list/<%=univ%>" aria-label="초기화">
          <i class="xi-renew"></i>
        </a>
      </div>

    </div>
  </section>

  <!-- 필터 -->
  <section>
    <div class="filter-container">
      <form action="/board/list/<%=univ%>" method="get">
        <div class="input_container">
          <div class="hashtag_title">기간</div>
          <div class="hashtag_list">
            <input type="range" name="monthLimit" value="<%=filterOption.date || 1%>" min="1" max="12" step="1">
            <span class="range_value"><%=filterOption.date || 1%></span>월까지
          </div>
          <div class="hashtag_title">가격</div>
          <div class="hashtag_list">
            <input type="checkbox" name="priceKeywords[]" id="무보증금" value="무보증금"
              <%= (filterOption.price!==undefined) ? 'checked' : '' %>>
            <label for="무보증금"><span>무보증금(100만원 이하)</span></label>
          </div>
        </div>
        <div class="submit_container">
          <input type="submit" value="적용">
          <button class="filter-cancel">취소</button>
        </div>
      </form>
    </div>
  </section>

  <section id="lower">
    <!-- 팀원 모집 공고 -->
    <div class="recruit-container">
      <a href="https://quip.com/PHZhAuO6N78x" class="recruit-btn">
        <div>
          <span>방단기를 같이 만들어 갈<br/>팀원 찾습니다<span>자세히 보기 &#xE001;</span></span>
          <span><img src="/img/list/team_spirit.svg"/></span>
        </div>
      </a>
    </div>
    

    <!-- 매물 리스트 -->
    <% if (!err) { %>
    <div class="listTitle">
      매물 리스트
      <div class="sortBtnContainer">
        <span class="sortBtn active" data-sortby="time">최신순</span>
        <span class="sortBtn" data-sortby="view">조회순</span>
      </div>
    </div>
    <% } %>


    <% if (!err) { %>
    <!-- 매물 컨테이너 -->
    <div class="article-list">
      <% for ( room of roomList ) { %>
      <!-- 광고 들어갈 자리에 광고삽입 -->
      <% if ( room.ad ) { %>
      <article class="article">
        <a class="request_container" href="/request">
          <div class="request_text_container">
            <span>찾고있는 방이 없나요?</span>
            방을 무료로<br>찾아드립니다!
          </div>
          <div class="request_btn">신청하기 &#xE001;</div>
          <img src="/img/list/gift.svg" alt="선물상자">
        </a>
      </article>
      <% } else { %>
      <!-- 매물 삽입 -->
      <article class="article">
        <a href=<%= room['url'] %> data-id=<%= room['url'] %> data-univ=<%= univ %> data-timeStamp=<%= room.timeStamp %>
          data-views=<%= room.views %>>
          <div class="list_wrapper">
            <div class="list_text">
              <div class="list_upper">
                <div class="tag_container">
                  <% for (i of room.dateKeywords) { %>
                  <span><%= i %></span>
                  <% } %>
                </div>
                <div class="price_container">
                  <span class="roomType"><%= room.tradeType === null ? '' : room.tradeType %></span>
                  <%= `${room.deposit}/${room.price}` %>
                  <% if (room.new) { %>
                  <span class="new"><i class="xi-new"></i></span>
                  <% } %>
                </div>
              </div>
              <div class="list_mid">
                <div>
                  <%= room.line1 %>
                </div>
                <div>
                  <%= room.line2 %>
                </div>
              </div>
              <div class="list_lower">
                <div class="keywords_container">
                  <% for(i of room.keywords) { %>
                  <span><%=i%></span>
                  <% } %>
                </div>
              </div>
            </div>
            <div class="list_img">
              <div class="pic_container">
                <% if (room.thumbnail) { %>
                  <img src="<%=room.thumbnail[0][400]%>" alt="<%= room.line1 %>방 사진">
                <% } else { %>
                  <% if (room.urlType === 'mypnu') { %>
                  <img src="/img/list/mypnu_logo.png" alt="마이피누 로고">
                  <% } else if (room.urlType === 'everytime') { %>
                  <img src="/img/list/everytime_logo.png" alt="에브리타임 로고">
                  <% } else if (room.urlType === 'peterpanz') { %>
                  <img src="/img/list/peterpanz_logo.png" alt="피터팬의 좋은방 구하기 로고">
                  <% } else if (room.urlType === 'dabang') { %>
                  <img src="/img/list/dabang_logo.png" alt="다방 로고">
                  <% } else if (room.imageURL !== null) { %>
                  <img src="<%=room.imageURL%>" alt="<%= room.line1 %>방 사진">
                  <% } else { %>
                  <img src="/img/list/bangdangi_logo_3.png" alt="방단기 로고">
                  <% } %>
                <% } %>
                
                <% for (i of room.discountKeywords) { %>
                <span class="discount"><%= i %></span>
                <% } %>
              </div>
            </div>
          </div>
        </a>
      </article>
      <% } %>
      <% } %>

      <!-- 매물 수가 적을때는 아래에 '방 요청하기' 표시 -->
      <% if (roomList.length < 5) { %>
      <article class="article">
        <a class="request_container" href="/request">
          <div class="request_text_container">
            <span>찾고있는 방이 없나요?</span>
            방을 무료로<br>찾아드립니다!
          </div>
          <div class="request_btn">신청하기 &#xE001;</div>
          <img src="/img/list/gift.svg" alt="선물상자">
        </a>
      </article>
      <% } %>
    </div>

    <% } else { %>
    <!-- 매물이 없을때는 에러메세지를 출력 -->
    <div class="error_container">
      <object data="/img/list/no_data.svg" type="image/svg+xml"></object>
      <%= err %>
    </div>
    <% } %>

    <!-- 거래 완료된 매물 -->
    <% if (!err && review.length > 0) { %>
    <div class="review">
      <div class="review-title">거래 완료된 매물</div>
      <div class="article-list">
        <% for (room of review) { %>
        <article class="article">
          <a href=<%= room['url'] %> data-id=<%= room['url'] %> data-univ=<%= univ %>>
            <div class="list_wrapper">
              <div class="list_text">
                <div class="list_upper">
                  <div class="tag_container">
                    <span class="review-grey">거래완료</span> <span>거래후기</span>
                  </div>
                  <div class="price_container review-grey">
                    <span class="roomType"><%= room.tradeType === null ? '' : room.tradeType %></span>
                    <%= `${room.deposit}/${room.price}` %>
                    <% if (room.new) { %>
                    <span class="new"><i class="xi-new"></i></span>
                    <% } %>
                  </div>
                </div>
                <div class="list_mid">
                  <div>
                    <%= room.line1 %>
                  </div>
                  <div>
                    <%= room.line2 %>
                  </div>
                </div>
                <div class="list_lower">
                  <div class="keywords_container">
                    <% for(i of room.keywords) { %>
                    <span><%=i%></span>
                    <% } %>
                  </div>
                </div>
              </div>
              <div class="list_img">
                <div class="pic_container review-grey">
                  <% if (room.urlType === 'mypnu') { %>
                  <img src="/img/mypnu_logo.png" alt="마이피누 로고">
                  <% } else if (room.urlType === 'everytime') { %>
                  <img src="/img/everytime_logo.png" alt="에브리타임 로고">
                  <% } else if (room.urlType === 'peterpanz') { %>
                  <img src="/img/peterpanz_logo.png" alt="피터팬의 좋은방 구하기 로고">
                  <% } else if (room.urlType === 'dabang') { %>
                  <img src="/img/dabang_logo.png" alt="다방 로고">
                  <% } else if (room.imageURL !== null) { %>
                  <img src="<%=room.imageURL%>" alt="<%= room.line1 %>방 사진">
                  <% } else { %>
                  <img src="/img/bangdangi_logo_3.png" alt="방단기 로고">
                  <% } %>
                  <% for (i of room.discountKeywords) { %>
                  <span class="discount"><%= i %></span>
                  <% } %>
                </div>
              </div>
            </div>
          </a>
        </article>
        <% } %>
      </div>

    </div>
    <% } %>

  </section> <!-- END OF lower -->


  <!-- footer -->
  <%- include('templates/footer') %>

  <script>
    var currentUniv = "<%= univ %>";
  </script>
  <script src="//cdn.polyfill.io/v3/polyfill.min.js" async defer></script>
  <script src="../../../babel/dst/articleList.js"></script>
  <script>
    /* 현재 선택된 셀렉트의 학교이름이 셀렉트의 label값으로 들어가게 한다 */
    let univSelect = document.getElementById("univ_select");
    document.querySelector("option[value='<%=univ%>']").selected = true
    document.querySelector("#univ_form label").innerText = univSelect.options[univSelect.selectedIndex].innerText;
  </script>
  <!-- Channel Plugin Scripts -->
  <!-- <script>
    (function () {
      var w = window;
      if (w.ChannelIO) {
        return (window.console.error || window.console.log || function () { })('ChannelIO script included twice.');
      }
      var d = window.document;
      var ch = function () {
        ch.c(arguments);
      };
      ch.q = [];
      ch.c = function (args) {
        ch.q.push(args);
      };
      w.ChannelIO = ch;
      function l() {
        if (w.ChannelIOInitialized) {
          return;
        }
        w.ChannelIOInitialized = true;
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = 'https://cdn.channel.io/plugin/ch-plugin-web.js';
        s.charset = 'UTF-8';
        var x = document.getElementsByTagName('script')[0];
        x.parentNode.insertBefore(s, x);
      }
      if (document.readyState === 'complete') {
        l();
      } else if (window.attachEvent) {
        window.attachEvent('onload', l);
      } else {
        window.addEventListener('DOMContentLoaded', l, false);
        window.addEventListener('load', l, false);
      }
    })();
    ChannelIO('boot', {
      "pluginKey": "5ce5e194-1fa1-4289-9d57-c84d88b225a0"
    });
  </script> -->
  <!-- End Channel Plugin -->
</body>

</html>