<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141137545-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({
            'event': 'Pageview',
            'pagePath': '/board/read/<%=univ%>/<%=articleNo%>',
            'pageTitle': '/<%=univ%>/<%=articleNo%>',
            'univ': "<%=univ%>"
        });
    </script>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-TC8GC5C');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- SEO START -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="방단기 | <%=univKo%> 단기 방 임대/양도, 보증금없는 방 임대/양도, 단기원룸, 서울 단기임대, 서울 단기원룸">
    <meta name="keyword" content="방단기, 단기방, 서울 단기임대, 서울 단기원룸, 무보증 원룸, 원룸양도, 방임대, 방양도, 전대차">
    <meta name="author" content="패러다임">
    <meta itemprop="name" content="방단기">
    <meta itemprop="description" content="방단기 | <%=univKo%> 단기 방 임대/양도, 보증금없는 방 임대/양도, 단기원룸, 서울 단기임대, 서울 단기원룸">
    <meta name="twitter:title" content="방단기">
    <meta name="twitter:description" content="방단기 | <%=univKo%> 단기 방 임대/양도, 보증금없는 방 임대/양도, 단기원룸, 서울 단기임대, 서울 단기원룸">
    <meta property="og:title" content="방단기">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="방단기">
    <meta property="og:description" content="방단기 | <%=univKo%> 단기 방 임대/양도, 보증금없는 방 임대/양도, 단기원룸, 서울 단기임대, 서울 단기원룸">
    <meta property="og:url" content="https://bangdangi.web.app/board/read/<%=univ%>/<%=articleNo%>">
    <link rel="canonical" href="https://bangdangi.web.app/board/read/<%=univ%>/<%=articleNo%>" />
    <!-- SEO END -->
    <title><%= data.title || '매물 상세보기' %> | 방단기</title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/headerBar.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/article.css" />
    <link rel="stylesheet" href="/css/polyfill.object-fit.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <link rel="stylesheet" href="/slick/slick.css" />
    <link rel="stylesheet" href="/slick/slick-theme.css" />
    <!-- JS-LOAD-IMAGE : 이미지 자동 회전을 위한 라이브러리 -->
    <script src="https://bangdangi.web.app/js/load-image.all.min.js"></script>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TC8GC5C" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div id="wrapper">

        <!-- 헤더 -->
        <%- include('templates/gnb') %>

        <!-- 공유하기 딤드 -->
        <section class="dimmed-share">
            <a id="kakao-link-btn">
                <img src="/img/detail/kakao_logo.svg" alt="카카오톡 로고">
                <p>카카오톡 공유</p>
            </a>
            <a class="url-link-btn">
                <img src="/img/detail/url_link_image.png" alt="파란 배경에 흰 글자로 URL">
                <p>URL 복사</p>
            </a>
            <span class="dimmed-close"><i class="xi-close-thin"></i></span>
        </section>

        <!-- 하단 메뉴 버튼 -->
        <section class="fixed-btn-container visible">
            <div class="inner">
                <a href="javascript:;" class="fixed-btn contact-btn" data-type="sms" data-contact="<%= data.contact || '' %>">
                    방단기에 문의하기
                </a>
            </div>
        </section>

        <section class="mobile-fixed-btn-container">
            <a class="fixed-btn" href="/board/list/<%=univ%>">
                &#xE000; 목록으로 돌아가기
            </a>
        </section>

        <!-- 제목 + 가격정보 블럭 -->
        <section class="top-section">
            <!-- 브레드크럼, 조회수, 공유하기 -->
            <div class="bread-nav-container">
                <!-- 브레드크럼 네비게이션 -->
                <ol class="breadcrumbs">
                    <li><a href="/">HOME</a></li>
                    <li><a href="/board/list/<%=univ%>"><%=univKo%></a></li>
                </ol>
                <!-- 조회수, 공유하기 -->
                <div class="bread-right">
                    <span class="views-container">조회 <%= data.views %></span>
                    <span class="share-btn">
                        <a href="javascript:;" aria-label="공유하기"><i class="xi-share-alt"></i>
                        </a>
                    </span>
                </div>
            </div>
            <!-- 제목 -->
            <div class="title-container">
                <!-- 글 제목-->
                <h1 class="title">
                    <%= data.title || '' %>
                    <% if(done === true) {  %>
                    <span class="done_container">거래완료</span>
                    <% } %>
                </h1>
            </div>

            <!-- 가격, 연락버튼 -->
            <div class="top-section-price">
                <!-- 가격, 관리비-->
                <div class="price-container">
                    <div class="price">
                        <div>월세<%= data.tradeType === null ? '' : '('+data.tradeType+')' %></div>
                        <div><%= data.deposit!==null ? data.deposit : '문의' %> /
                            <% if (data.price!==null) { %>
                            <%= data.price %><span>만원</span>
                            <% } else { %>
                            문의
                            <% } %>
                        </div>
                    </div>
                    <div class="price">
                        <div>관리비</div>
                        <div><%= data.expense === null ? '문의' : data.expense+'만원' %></div>
                    </div>
                </div>
                <!-- pc 예약하기, 문의하기 버튼 -->
                <div class="pc-btn-container">
                    <% if (done === false) { %>
                    <button class="reserve-btn">예약하기</button>
                    <% if (data.contact && data.contact.length > 15) { %>
                    <button class="contact-btn" data-type="kakao" data-contact="<%= data.contact || '' %>">
                        오픈채팅방으로 연락하기
                    </button>
                    <% } else { %>
                    <button class="contact-btn" data-type="sms" data-contact="<%= data.contact || '' %>">
                        방단기에 문의하기
                    </button>
                    <% } %>
                    <% } else { %>
                    <div class="done-btn">거래완료된 매물입니다</div>
                    <% } %>
                </div>
            </div>
        </section>

        <!-- 이미지 캐로셀 -->
        <section class="carousel-container">
            <div class="slick-container">
                <% if(data.images !== null) { %>
                <% for(i of data.images) { %>
                <div class="img-container">
                    <img src="<%=i%>" alt="<%=data.title || ''%>" />
                </div>
                <% } %>
                <% } %>
            </div>
        </section>

        <!-- 매물정보 테이블 -->
        <section class="info">
            <table>
                <thead>
                    <tr>
                        <th>기간</th>
                        <th>위치</th>
                        <th>방 형태</th>
                        <th>층수</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <% if(data.startDate === null && data.endDate === null) { %>
                            <% if(data['minTerm']) { %>
                            <%= data['minTerm']+'개월이상' %>
                            <% } %>
                            <% } else { %>
                            <%= data.startDate ? new Date(data.startDate.toMillis()).toLocaleDateString() : '' %>
                            <%= (data.startDate || data.endDate) ? ' ~ ' : '' %>
                            <%= data.endDate ? new Date(data.endDate.toMillis()).toLocaleDateString() : '' %>
                            <% } %>
                        </td>
                        <td>
                            <%= (data['locationS'] ? Object.keys(data['locationS']).join(' ') : '문의') %>
                        </td>
                        <td><%= data.roomType || '문의' %></td>
                        <td>
                            <% if (data.floor === -1) { %>
                            반지층
                            <% } else { %>
                            <%= data.floor!==null ? data.floor+'층' : '문의' %>
                            <% } %>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>

        <!-- 모바일 문의 버튼 -->
        <section class="mobile-btn-container">
            <% if (done === false) { %>
            <% if (data.contact && data.contact.length > 15) { %>
            <button class="contact-btn" data-type="kakao" data-contact="<%= data.contact || '' %>">
                오픈채팅방으로 연락하기
            </button>
            <% } else { %>
            <button class="contact-btn" data-type="sms" data-contact="<%= data.contact || '' %>">
                방단기에 문의하기
            </button>
            <% } %>
            <button class="reserve-btn">예약하기</button>
            <% } %>
        </section>

        <!-- 본문 블럭 -->
        <section class="detail-container">
            <h3 class="title">상세설명</h3>
            <p class="text"><%= data.text || '' %></p>

            <ul class="sub-info xi-ul">
                <li>
                    <i class="xi-help-o xi-li"></i> 방단기의 모든 매물은 직거래 매물로 중개 수수료를 받지 않습니다. 다만, 안전을 위해 방단기 관리자가 계약까지 안내해
                    드리고 있습니다.
                </li>
            </ul>
        </section>

        <!-- 후기 블럭 -->
        <% if (done === true) { %>
        <div class="review-container">
            <h3 class="title">거래후기</h3>
            <div class="text"><%= data.review || ''%></div>
        </div>
        <% } %>

        <!-- 지도 블럭 -->
        <% if (data.position && data.position.latitude) { %>
        <section class="map-container">
            <div class="title">지도 및 위치</div>
            <div class="map"></div>
        </section>
        <% } %>

        <!-- 관련 매물 블럭 -->
        <% if (related.length > 0) { %>
        <section class="related-container">
            <h3 class="title">
                관련 매물<span><a href="https://bangdangi.web.app/board/list/<%=univ%>">더 보기 &#xE001;</a></span>
            </h3>
            <ul class="related-list">
                <% for (i of related) { %>
                <li>
                    <a href="<%= i.url %>">
                        <div class="related-img">
                            <img src="<%= i.img %>" alt="<%= i.line1 %> 방 사진" />
                        </div>
                        <div class="related-text">
                            <p><%= i.line1 %></p>
                            <p><%= i.line2 %></p>
                            <p><%= i.line3 %></p>
                        </div>
                    </a>
                </li>
                <% } %>
            </ul>
        </section>
        <% } %>

        <!-- 목록으로 돌아가기 -->
        <section class="back-btn-container">
            <a href="/board/list/<%=univ%>">
                <button class="back-btn">&#xE000; 목록으로 돌아가기</button>
            </a>
        </section>

        <!-- 푸터 -->
        <%- include('templates/footer') %>

    </div> <!-- END of wrapper -->

    <!-- slick for carousel -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="/slick/slick.min.js"></script>
    <script>
        $('.slick-container').slick({
            dots: true,
        });
    </script>
    <!-- END of slick -->

    <!--  배경 object-fit 속성 pollyfill -->
    <script src="/js/polyfill.object-fit.min.js"></script>

    <!-- 카카오 지도 js -->
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
    <% if (data.position && data.position.latitude) { %>
    <script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=07ac8a4da1c7b6aa00a5947dc53f964a"></script>
    <script>
        var mapContainer = document.querySelector('.map'), // 지도를 표시할 div 
            mapOption = {
                center: new kakao.maps.LatLng(<%=data.position.latitude %>, <%=data.position.longitude %>), // 지도의 중심좌표
                level: 4 // 지도의 확대 레벨
            };

        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

        // 지도에 표시할 원을 생성합니다
        var circle = new kakao.maps.Circle({
            center: new kakao.maps.LatLng(<%=data.position.latitude %>, <%=data.position.longitude %>),  // 원의 중심좌표 입니다 
            radius: 150, // 미터 단위의 원의 반지름입니다 
            strokeWeight: 2, // 선의 두께입니다 
            strokeColor: '#0ab9f1', // 선의 색깔입니다
            strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
            strokeStyle: 'solid', // 선의 스타일 입니다
            fillColor: '#0ab9f1', // 채우기 색깔입니다
            fillOpacity: 0.5  // 채우기 불투명도 입니다   
        });

        // 지도에 원을 표시합니다 
        circle.setMap(map); 
    </script>
    <% } %>

    <!-- 상세페이지 js -->
    <script>
        var dataImages = <%= data.images ? true : false %>;
        var dataDone = <%= done %>;
        var dataKakao = {
            title: '<%= kakao.title %>', // 본문 제목
            description: '<%= kakao.description %>',  // 본문 바로 아래 들어가는 영역
            imageUrl: '<%= kakao.imageUrl %>', // 이미지
            link: {
                mobileWebUrl: '<%= kakao.link %>',
                webUrl: '<%= kakao.link %>'
            }
        }
    </script>
    <script src="../../../babel/dst/articleDetail.js"></script>

</body>

<!-- Channel Plugin Scripts -->
<!-- <script>
    (function () {
        var w = window;
        if (w.ChannelIO) {
            return (window.console.error || window.console.log || function () { })('ChannelIO script included twice.');
        }
        var d = window.document;
        var ch = function () {
            ch.c(arguments);
        };
        ch.q = [];
        ch.c = function (args) {
            ch.q.push(args);
        };
        w.ChannelIO = ch;
        function l() {
            if (w.ChannelIOInitialized) {
                return;
            }
            w.ChannelIOInitialized = true;
            var s = document.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = 'https://cdn.channel.io/plugin/ch-plugin-web.js';
            s.charset = 'UTF-8';
            var x = document.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s, x);
        }
        if (document.readyState === 'complete') {
            l();
        } else if (window.attachEvent) {
            window.attachEvent('onload', l);
        } else {
            window.addEventListener('DOMContentLoaded', l, false);
            window.addEventListener('load', l, false);
        }
    })();
    ChannelIO('boot', {
        "pluginKey": "5ce5e194-1fa1-4289-9d57-c84d88b225a0"
    });
</script> -->
<!-- End Channel Plugin -->

</html>