<!DOCTYPE html>
<html lang="ko">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141137545-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({
      'event': 'Pageview',
      'pagePath': '/index',
      'pageTitle': 'index'
    });
  </script>
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-TC8GC5C');</script>
  <!-- End Google Tag Manager -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- SEO START -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="방단기 | 단기 방 임대/양도, 보증금없는 방 임대/양도, 단기원룸, 서울 단기임대, 서울 단기원룸">
  <meta name="keyword" content="방단기, 단기방, 서울 단기임대, 서울 단기원룸, 무보증 원룸, 원룸양도, 방임대, 방양도, 전대차">
  <meta name="author" content="방단기">
  <meta itemprop="name" content="방단기">
  <meta itemprop="description" content="방단기 | 단기 방 임대/양도, 보증금없는 방 임대/양도, 단기원룸, 서울 단기임대, 서울 단기원룸">
  <meta name="twitter:title" content="방단기">
  <meta name="twitter:description" content="방단기 | 단기 방 임대/양도, 보증금없는 방 임대/양도, 단기원룸, 서울 단기임대, 서울 단기원룸">
  <meta property="og:title" content="방단기">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="방단기">
  <meta property="og:description" content="방단기 | 단기 방 임대/양도, 보증금없는 방 임대/양도, 단기원룸, 서울 단기임대, 서울 단기원룸">
  <meta property="og:url" content="https://bangdangi.web.app/">
  <link rel="canonical" href="https://bangdangi.web.app/" />
  <!-- SEO END -->
  <title>단기원룸 찾아다닐 필요없이 한번에 | 방단기</title>
  <!-- STYLE START -->
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet"  href="css/common.css" />
  <link rel="stylesheet"  href="css/index.css" />
  <link rel="stylesheet"  href="css/headerBar.css" />
  <link rel="stylesheet"  href="css/footer.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
  <link rel="stylesheet"  href="css/polyfill.object-fit.css" />
  <!-- STYLE END -->
  <!-- PWA START-->
  <!-- <link rel="manifest" href="/manifest.json"> -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="방단기">
  <link rel="apple-touch-icon" href="/img/icons/icon-152x152.png">
  <meta name="theme-color" content="#0AB9F1" />
  <!-- PWA END -->
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TC8GC5C" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!-- 헤더 -->

  <!-- GNB -->
  <%- include('templates/gnb') %>

  <!-- 메인 배너 -->
  <div class="mainBlock">

    <!-- 메인배너 배경-->
    <picture>
      <source media="(max-width: 600px)" srcset="/img/index/bg_600.jpg">
      <img src="/img/index/bg.jpg" alt="배경 방 사진">
    </picture>

    <!-- 메인배너 카피 -->
    <div class="mainBlockContainer">
      <div class="mainBlockDivider">
        <div class="mainCopy">
          <h1>찾아다닐 필요없이<br>모든 단기원룸을 한번에</h1>
          <p>
            방단기는 여러 부동산 커뮤니티에서<br />단기 원룸을 찾아 매일 업로드하고 있습니다.<br />
            지금 무료로 원하는 방을 찾아보세요.
          </p>
        </div>

        <!-- 셀렉트 폼 -->
        <%- include('templates/selectForm') %>

      </div>
    </div>

    <!-- 스크롤 표시 -->
    <i class="xi-angle-down-thin"></i>

  </div>

  <!-- 새로 등록된 매물 -->
  <div class="subBlock b1">
    <div class="subBlock_container">
      <h3 class="b1_title">
        새로 등록된 매물
      </h3>
      <ul class="b1_cards">
        <% for (i of newArticles) { %>
        <li>

          <a href="<%= i.url %>" class="b1_item">
            <div class="b1_item_content">
              <div class="b1_item_img">
                <img src="<%= i.images ? i.images[0] : '' %>" alt="<%= (i.locationS ? Object.keys(i.locationS).join(' ') : '') %> 방 사진">
              </div>
              <div class="b1_item_text">
                <span class="new-text-1"><%= (i.locationS ? Object.keys(i.locationS).join(' ') : '') %></span><br />
                <span class="new-text-2">
                  <% if(i.startDate === null && i.endDate === null) { %>
                  <% if(i['minTerm']) { %>
                  <%= i['minTerm']+'개월이상' %>
                  <% } %>
                  <% } else { %>
                  <%= i.startDate ? new Date(i.startDate.toMillis()).toLocaleDateString() : '' %>
                  <%= (i.startDate || i.endDate) ? ' ~ ' : '' %>
                  <%= i.endDate ? new Date(i.endDate.toMillis()).toLocaleDateString() : '' %>
                  <% } %>
                </span>
              </div>
            </div>
          </a>

        </li>
        <% } %>
      </ul>

      <div class="button-container">
        <a class="button" href="/board/list/gwanak">
          <button>새 매물 더 보기 &#xE001;</button>
        </a>
      </div>

    </div>
  </div>

  <!-- 리뷰 -->
  <% if (false) { %>
  <div class="review-block subBlock">
    <div class="subBlock_container">
      <h3 class="review-title">
        거래후기
      </h3>
      <ul class="review-list">
        <% for (i of newReviews) { %>
          <li>
            <a href="<%= i.url %>" class="review-item">
              <div class="review-content">
                <img src="<%= i.images[0] %>" class="review-img">
                <div class="review-text">
                  <%= i.review %>
                </div>
              </div>
            </a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
  <% } %>

  <!-- 방단기 이용 가이드 -->
  <div class="subBlock b3">
    <div class="subBlock_container">
      <h3 class="b3-title">
        방단기 이용 가이드
      </h3>
      <ol class="b3-contents">
        <li class="b3-content">
          <div class="b3-img">
            <object data="/img/index/b3-01.svg" type="image/svg+xml">휴대폰으로 검색하는 여성</object>
          </div>
          <div class="b3-text">
            <div class="title">
              1. 방 찾기
            </div>
            <div class="text">
              방단기에서 원하는 기간, 조건의 방을 온라인으로 손쉽게 찾아보세요.
            </div>
          </div>
        </li>
        <li class="b3-content">
          <div class="b3-img">
            <object data="/img/index/b3-02.svg" type="image/svg+xml">휴대폰으로 누군가와 연락하고 있는 사람</object>
          </div>
          <div class="b3-text">
            <div class="title">
              2. 연락하기
            </div>
            <div class="text">
              마음에 드는 방을 발견하셨다면 연락하기 버튼을 눌러 방을 보러 갈 날짜를 조율하세요.
            </div>
          </div>
        </li>
        <li class="b3-content">
          <div class="b3-img">
            <object data="/img/index/b3-03.svg" type="image/svg+xml">계약이 완료되고 악수하는 손</object>
          </div>
          <div class="b3-text">
            <div class="title">
              3. 안전 거래하기
            </div>
            <div class="text">
              방이 마음에 드셨다면, 방단기 관리자의 안내에 따라 안전하게 계약을 완료하세요.
            </div>
          </div>
        </li>
      </ol>
      <div class="button-container">
        <a class="button" href="/board/list/gwanak">
          <button>단기 원룸 보러가기 &#xE001;</button>
        </a>
      </div>
    </div>
  </div>

  <!-- 매물 등록하기 -->
  <div class="subBlock b2">
    <div class="subBlock_container">
      <h3 class="b2_title">
        다음 세입자<br>방단기가 구해드립니다
      </h3>
      <div class="b2_text">
        매물을 등록하시면<br>방단기에서 무료로 홍보해 드립니다
      </div>
      <div class="button-container">
        <a class="button" href="/register">
          <button>지금 등록하기 &#xE001;</button>
        </a>
      </div>
    </div>
  </div>

  <!-- footer -->
  <%- include('templates/footer') %>

  <!-- PWA Button START -->
  <!-- <button id="butInstall" aria-label="Install" hidden>방단기 앱 추가하기</button> -->
  <!-- PWA Button END -->

  <script src="https://cdn.polyfill.io/v3/polyfill.min.js" async defer></script>
  <script src="babel/dst/index.js"></script>
 
  <!--  배경 object-fit 속성 pollyfill -->
  <script src="js/polyfill.object-fit.min.js"></script>
  <script>
    objectFit.polyfill({
      selector: 'img', // this can be any CSS selector
      fittype: 'cover', // either contain, cover, fill or none
      disableCrossDomain: 'true' // either 'true' or 'false' to not parse external CSS files.
    });
  </script>


  <!-- PWA JS -->
  <!-- <script src="babel/dst/install.js"></script> -->
  <!-- <script>
    // index.js 에서 사용할 푸시알림을 위한 key
    const vapidPublicKey = "<%= vapidPublicKey %>";
  </script> -->

  <!-- Channel Plugin Scripts -->
  <!-- <script>
    (function () {
      var w = window;
      if (w.ChannelIO) {
        return (window.console.error || window.console.log || function () { })('ChannelIO script included twice.');
      }
      var d = window.document;
      var ch = function () {
        ch.c(arguments);
      };
      ch.q = [];
      ch.c = function (args) {
        ch.q.push(args);
      };
      w.ChannelIO = ch;
      function l() {
        if (w.ChannelIOInitialized) {
          return;
        }
        w.ChannelIOInitialized = true;
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = 'https://cdn.channel.io/plugin/ch-plugin-web.js';
        s.charset = 'UTF-8';
        var x = document.getElementsByTagName('script')[0];
        x.parentNode.insertBefore(s, x);
      }
      if (document.readyState === 'complete') {
        l();
      } else if (window.attachEvent) {
        window.attachEvent('onload', l);
      } else {
        window.addEventListener('DOMContentLoaded', l, false);
        window.addEventListener('load', l, false);
      }
    })();
    ChannelIO('boot', {
      "pluginKey": "5ce5e194-1fa1-4289-9d57-c84d88b225a0"
    });
  </script> -->
  <!-- End Channel Plugin -->
</body>

</html>