<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141137545-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({
            'event': 'Pageview',
            'pagePath': '/user/profile',
            'pageTitle': 'profile'
        });
    </script>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-TC8GC5C');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- SEO START -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="방단기 | 단기 방 임대/양도, 보증금없는 방 임대/양도, 단기원룸, 서울 단기임대, 서울 단기원룸">
    <meta name="keyword" content="방단기, 단기방, 서울 단기임대, 서울 단기원룸, 무보증 원룸, 원룸양도, 방임대, 방양도, 전대차">
    <meta name="author" content="방단기">
    <meta itemprop="name" content="방단기">
    <meta itemprop="description" content="방단기 | 단기 방 임대/양도, 보증금없는 방 임대/양도, 단기원룸, 서울 단기임대, 서울 단기원룸">
    <meta name="twitter:title" content="방단기">
    <meta name="twitter:description" content="방단기 | 단기 방 임대/양도, 보증금없는 방 임대/양도, 단기원룸, 서울 단기임대, 서울 단기원룸">
    <meta property="og:title" content="방단기">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="방단기">
    <meta property="og:description" content="방단기 | 단기 방 임대/양도, 보증금없는 방 임대/양도, 단기원룸, 서울 단기임대, 서울 단기원룸">
    <meta property="og:url" content="https://bangdangi.web.app/">
    <link rel="canonical" href="https://bangdangi.web.app/" />
    <!-- SEO END -->
    <title>방단기</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/headerBar.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="../css/profile.css">
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TC8GC5C" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('templates/gnb') %>

    <section class="wrapper">
        <h1><%=user.name%><span> 님</span></h1>
        <div class="article-list-container">
            <h3>내가 등록한 방</h3>
            <% for (article of data) { %>
                <article>
                    <a href="/board/read/all/<%=article.id%>">
                        <div class="text-container">
                            <p class="date"><%= `${article.createdAt.toDate().getFullYear()}년 ${article.createdAt.toDate().getMonth()}월 ${article.createdAt.toDate().getDate()}일` %></p>
                            <p>
                                <% if (article.tradeType) { %> 
                                    <span class="tradeType"><%=article.tradeType%></span>
                                <% } %>
                                <span class="price">
                                    <%= `${article.deposit}/${article.price}` %>
                                </span>
                            </p>
                            <p class="line1"><%=`관리비 ${article.expense}만원`%></p>
                            <p class="line2"><%=`${article.sggNm} ${article.emdNm}`%></p>
                        </div>
                        <div class="img" 
                            style="background: center / contain no-repeat url('<%= article.images ? article.images[0] : ``%>');">
                        </div>
                        
                    </a>
                </article>
            <% } %>
        </div>
    </section> <!-- End of wrapper -->

    <%- include('templates/footer') %>
</body>
</html>