<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141137545-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({
            'event': 'Pageview',
            'pagePath': '/reservation/<%=place%>/<%=articleId%>',
            'pageTitle': '/<%=place%>/<%=articleId%>',
            'place': "<%=place%>"
        });
    </script>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-TC8GC5C');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- SEO START -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="방단기 | <%=placeKo%> 단기 방 임대/양도, 보증금없는 방 임대/양도, 단기원룸, 서울 단기임대, 서울 단기원룸">
    <meta name="keyword" content="방단기, 단기방, 서울 단기임대, 서울 단기원룸, 무보증 원룸, 원룸양도, 방임대, 방양도, 전대차">
    <meta name="author" content="패러다임">
    <meta itemprop="name" content="방단기">
    <meta itemprop="description" content="방단기 | <%=placeKo%> 단기 방 임대/양도, 보증금없는 방 임대/양도, 단기원룸, 서울 단기임대, 서울 단기원룸">
    <meta name="twitter:title" content="방단기">
    <meta name="twitter:description" content="방단기 | <%=placeKo%> 단기 방 임대/양도, 보증금없는 방 임대/양도, 단기원룸, 서울 단기임대, 서울 단기원룸">
    <meta property="og:title" content="방단기">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="방단기">
    <meta property="og:description" content="방단기 | <%=placeKo%> 단기 방 임대/양도, 보증금없는 방 임대/양도, 단기원룸, 서울 단기임대, 서울 단기원룸">
    <meta property="og:url" content="https://bangdangi.web.app/reservation/<%=place%>/<%=articleId%>">
    <link rel="canonical" href="https://bangdangi.web.app/reservation/<%=place%>/<%=articleId%>" />
    <!-- SEO END -->
    <title>방단기</title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/headerBar.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/reservation.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
</head>

<body>

    <%- include('templates/gnb') %>
    
    <section class="wrapper">
        <h1>가계약 진행</h1>
        <form method="post" action="/reservation/application/" enctype="multipart/form-data">
            <input type="text" name="place" value="<%= place %>" hidden />
            <input type="text" name="articleId" value="<%= articleId %>" hidden />

            <div class="table-wrapper">
                <h2>매물정보</h2>
                <table class="img-table">
                    <tbody>
                        <th>
                            <div class="article-img" style="background-image: url('<%=data.images ? data.images[0] : ""%>');"></div>
                        </th>
                        <td>
                            <div class="article-title"><%= data.title || '' %></div>
                            <div class="article-data">
                                보증금 <%=data.deposit || '문의'%>/월세 <%=data.price || '문의'%><br/>
                                <%= data.locationS ? Object.keys(data.locationS).join(' ') : '' %>
                            </div>
                        </td>
                    </tbody>
                </table>
            </div>
            <div class="table-wrapper">
                <h2>계약정보</h2>
                <table>
                    <tbody>
                        <tr>
                            <th>입주날짜</th>
                            <td><input type="date" name="start_date" required /></td>
                        </tr>
                        <tr>
                            <th>퇴실날짜</th>
                            <td><input type="date" name="end_date" required /></td>
                        </tr>
                    </tbody>
                </table>
            </div>   
            
            <div class="table-wrapper">
                <h2>계약자정보</h2>
                <table>
                    <caption>
                        <ul>
                            <li>본인 인증은 임대인과 임차인 모두 안전하게 계약을 진행하기 위해 진행됩니다.</li>
                            <li>해당 정보는 본인 인증을 위해서만 사용되고 임대차 계약 기간이 끝난 후에는 삭제됩니다.</li>
                        </ul> 
                    </caption>
                    <tbody>
                        <tr>
                            <th>이름</th>
                            <td><input type="text" name="name" required /></td>
                        </tr>
                        <tr>
                            <th>휴대폰 번호</th>
                            <td><input type="number" name="phone" required /></td>
                        </tr>
                        <tr>
                            <th>신분증</th>
                            <td>
                                <input type="file" id="identity" name="identity" accept=".gif, .jpg, .png, .pdf" required />
                                <ul>
                                  <li>주민등록증 또는 운전면허증의 전체가 보이는 사진을 업로드해주세요.</li>  
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div class="table-wrapper">
                <h2>결제예정금액</h2>
                <table>
                    <tbody>
                        <tr>
                            <th>가계약 예치금</th>
                            <td>100,000원</td>
                        </tr>
                        <tr>
                            <th>
                                수수료
                                <i class="xi-help-o">
                                    <span>
                                        정보서비스 이용료, 전자계약 이용료, 안전보증대금 등이 포함된 가격이며 
                                        입주자의 변심 등으로 인한 가계약 파기 시 환불되지 않습니다. 
                                        <br/>*예치금 환불은 규정에 따라 진행됩니다.
                                    </span>
                                </i>
                            </th>
                            <td>9,000원</td>
                        </tr>
                        <tr>
                            <th>VAT</th>
                            <td>900원</td>
                        </tr>
                        <tr>
                            <th>합계</th>
                            <td>109,900원</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="table-wrapper">
                <h2>송금정보 <span class="remittance-copy">계좌복사</span></h2>
                <table>
                    <tbody>
                        <tr>
                            <th>결제수단</th>
                            <td>무통장입금</td>
                        </tr>
                        <tr>
                            <th>입금계좌</th>
                            <td class="remittance-account">신한은행 110-398-802012</td>
                        </tr>
                        <tr>
                            <th>최종송금액</th>
                            <td class="remittance-amount">109,900원</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="btn-container">
                <input type="submit" value="결제하기">
            </div>
        </form>

    </section>

    <%- include('templates/footer') %>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-storage.js"></script>
    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyCLqttykBqdLHT5lKFuBFJnbUNtbCxfRIg",
            authDomain: "bangdangi.firebaseapp.com",
            databaseURL: "https://bangdangi.firebaseio.com",
            projectId: "bangdangi",
            storageBucket: "bangdangi.appspot.com",
            messagingSenderId: "602303647933",
            appId: "1:602303647933:web:ff96ef9e79c4815f",
            measurementId: "G-G90HPG3485",
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
    </script>

    <!-- 계좌 복사, 폼 제출 스크립트 -->
    <script>
        document.querySelector('.remittance-copy')
            .addEventListener('click', function() {
                let account = document.querySelector('.remittance-account').innerText; // 계좌번호
                let amount = document.querySelector('.remittance-amount').innerText; // 금액
                let str = account;
                // 클립보드에 복사
                let el = document.createElement('textarea');
                el.value = str;
                document.body.appendChild(el);
                el.select();
                document.execCommand('copy');
                document.body.removeChild(el);
                // 버튼 글자 바꾸기
                document.querySelector('.remittance-copy').innerText = '복사완료';
                window.setTimeout(function() {
                    document.querySelector('.remittance-copy').innerText = '계좌복사';
                }, 1000);
            });
    </script>
</body>
</html>
